.wrap-user{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.single-user{
    border: 2px solid rgb(82, 79, 79);
    border-radius: 5px;
    height: 400px;
    background-color: black;
    color: aliceblue;
}
.single-user p{
    text-align: left;
    padding-left: 30px;
}
.email-link{
    text-decoration: none;
    color: green;
}
.personal-button{
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(21, 153, 21);
    color: aquamarine;
    border-radius: 5px;
}
.personal-button:hover{
    background-color: rgb(36, 189, 36);
}
.style-single-personal{
    width: 500px;
    margin: 100px auto;
    border: 2px solid rgb(24, 182, 19);
    color: rgb(156, 241, 174);
    padding: 20px;
}